configuration {
  modes: "drun,ssh,window,windowcd,run,combi,keys,filebrowser";
  font: "M+CodeLatX Nerd Font 13";
  fixed-num-lines: true;
  drun-match-fields: "name,generic,exec,categories,keywords";
  drun-display-format: "{name} [<span foreground='#dcd7ba'><i>({generic})</i></span>]";
}
@theme "kanagawa"
